<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <welcome-file-list>
    <welcome-file>started.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class>banking.Login</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>b</servlet-name>
    <servlet-class>banking.Register</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>b</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>c</servlet-name>
    <servlet-class>banking.Logout</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d</servlet-name>
    <servlet-class>banking.Profile</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>d</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e</servlet-name>
    <servlet-class>banking.Enquiry</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>e</servlet-name>
    <url-pattern>/Enquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>f</servlet-name>
    <servlet-class>banking.Deposit</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>f</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>g</servlet-name>
    <servlet-class>banking.Withdraw</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>g</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>h</servlet-name>
    <servlet-class>banking.Transfer</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>h</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>i</servlet-name>
    <servlet-class>banking.Transaction</servlet-class>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>i</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
</web-app>